body {
  background:#ddd;
}
.box {
  width:30%;
  height:auto;
  background:#fff;
  margin:0 auto;
  border-bottom:1px solid #ddd;
}
.profile {
  width:90%;
  margin:0 auto;
  padding:20px;
}
.profile:after {
  content:'';
  padding-bottom:90%;
  display:blcok;
}
.profile img {
  positon:relative;
  width:90%;
  border:8px solid #00a5a6;
  border-radius:50%;
  margin:0 auto;
}
h2 {
  color:#fff;
  background:#2c3;
  text-align:center;
  margin-top:-5px;
  padding:10px 0;
}
p {
  padding:5px 20px;
  font-family: 'Raleway', sans-serif;
  font-size:16px;
  text-align:justify;
  line-height:1.25
}
.social{
  padding:10px 0;
  background:#ffe999;
  width:100%;
}
.social a img {
  border-radius:50%;
  margin-left:40px;
}
.profile img {
  cursor:pointer;
}
