h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Montserrat";
  font-weight: bold;
}

div {
display: flex;
justify-content: center;
padding: 20px;
align-items: center;
font-family: "Montserrat";
}

.save {
  font-family: "Montserrat";
  color: black;
  font-size: 20px;

  /* justify-content: center;
  display: flex; */
}

body{
  background:#cecaca;

}
