.PostBox{
  height: 150px;
  width: 350px;
  font-size: 12pt;
}
.PostHeader{
  margin-right:0px;
  float:center;
  color:black;
}

.PostButton{
  margin-right:25px;
  float:right;
  height: 28px;
  width: 46px;
  font-size: 14px;
  font-family:"Montserrat";
}

body{
  font-family: "Montserrat";
}
